
body {background-color: rgb(78, 76, 72);
    padding: 30px;
    margin: 50px;
    opacity: 1;
    text-align: center;}

picture {padding: 15px;
    margin: 20px;
}
p.dashed {border-style: solid;}

h1   {color: #dfdfdf;
    font-family: verdana;
    font-size: 300%; 
    border: 5px solid #adadad;
    border-radius: 25px;
    padding: 30px;
    margin: 5px;
    text-align: center;
    border-style: solid;}

h2   {color: #dfdfdf;
    padding: 5px;
    margin: 1px;
    text-align: center;}

h3   {color: #dfdfdf;
    padding: 30px;
    margin: 50px;}

h4   {color: #dfdfdf;
    padding: 30px;
    margin: 50px;}

h5   {color: #dfdfdf;
    padding: 30px;
    margin: 50px;}

h6   {color: #dfdfdf;
    padding: 30px;
    margin: 50px;}

p    {color: #dfdfdf;
    font-family: verdana;
    font-size: 100%; 
    padding: 15px;
    margin: 1px;
    text-align: center;}

a   {color: #dfdfdf;
    font-family: verdana;
    font-size: 100%;
    padding: 1px;
    margin: 15px;}

img {  
    border: 5px solid #adadad;
    border-radius: 25px;
    padding: 30px;
    margin: 50px;
    image-orientation: center;}

nav {color: #a5a5a5;
    font-family: verdana;
    font-size: 90%; 
    border: 5px solid #adadad;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;}


address {color: #7c7c7c;
    font-family: verdana;
    font-size: 80%; 
    padding: 8px;
    margin: 8px;}